#(project
  (#(meta (
     #(name logjam)
     #(description "A Logging Library for LFE.")
     #(version "0.4.1")
     #(keywords ("LFE" "Lisp" "Library" "Logging" "Logs" "Wrapper"))
     #(maintainers (
       (#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
     #(repos (
       #(github "lfex/logjam")))))))
#(logging (
   #(log-level debug)
   #(colored true)
   ; #(colors (#(timestamp #'color:green/1)
   ;           #(process #'color:cyan/1)
   ;           #(modfunc #'color:yellow/1)
   ;           #(message #'color:green/1)
   ;           #(debug #'color:green/1)
   ;           #(info #'color:blue/1)
   ;           #(notice #'color:greenb/1)
   ;           #(warning #'color:yellow/1)
   ;           #(error #'color:red/1)
   ;           #(critical #'color:red/1)
   ;           #(alert #'color:red/1)
   ;           #(emergency #'color:red/1)))
   #(colors (#(timestamp (color green))
             #(process (color cyan))
             #(date (color green))
             #(time (color green))
             #(modfunc (color yellow))
             #(message (color green))
             #(debug (color greenb))
             #(info (color blue))
             #(notice (color cyan))
             #(warning (color yellow))
             #(error (color red))
             #(critical (color yellowb))
             #(alert (color magentab))
             #(emergency (color redb))))
   #(backend lager)
   #(options (#(lager_console_backend (
                debug
                #(logjam-formatter
                  (date " " time " [" pid "] [" severity "] " message "\n"))))
              #(lager_file_backend (
                #(file "log/error.log")
                #(level error)
                #(size 10485760)
                #(date "$D0")
                #(count 5)))
              #(lager_file_backend (
                #(file "log/console.log")
                #(level info)
                #(size 10485760)
                #(date "$D0")
                #(count 5)))))))
