{deps, [
    {lfe, {git, "http://github.com/rvirding/lfe", {branch, "develop"}}}
]}.

{plugins, [
    {rebar3_lfe, {git, "http://github.com/lfe-rebar3/rebar3_lfe", {branch, "master"}}}
]}.

{project_plugins, [rebar3_proper]}.

{provider_hooks, [
    {pre, [
        {compile, {lfe, compile}}
    ]}
]}.
  
{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]},
        {deps, [proper, recon]}
    ]}    
]}.

{dialyzer, [
    {warnings, [unknown]}
]}.

{xref_checks, [
    undefined_function_calls, undefined_functions, locals_not_used,
    deprecated_function_calls, deprecated_functions
]}.

{proper_opts, [
    {constraint_tries, 150}]}.

{shell, [
    {config, "config/dev.config"},
    {apps, [sasl]}
]}.

{alias, [
    {coverage, [{proper, "-c"},  {cover, "-v --min_coverage=80"}]},
    {check, [xref,
             dialyzer,
             {proper, "--regressions"},
             {ct, "-c"},
             coverage,
             edoc]}
]}.
