[
 {kernel, [
    {logger, [
        {handler, default, logger_std_h,
         #{formatter => {logjam, #{
            colored => true,
            time_designator => $\s,
            time_offset => "",
            time_unit => second,
            strip_tz => true
          }}}
        }
    ]},
    {logger_level, debug}
 ]}
].
